.roi_header {
    font-size: 125%;
    background-color: #efefef;
}

.a_fix {
    padding-top: 50px;
    margin-top: -50px;
    vertical-align: top;
    display: inline-block;
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none;
    background-color: rgba(235, 235, 235, 0.80);
    font-size: 12px;
    padding: 1em;
    display: none;
}

.back-to-top:hover {
    text-decoration: none;
}

#s2id_id_clients, #id_clients, #s2id_id_jobs, #id_jobs  {
    width: 600px !important;
}

.form-actions-override {
    padding: 2px 20px 20px;
    margin-top: 0px;
    border: 1px solid #e5e5e5;
    background-color: #f5f5f5;
    margin-bottom: 20px;
}
